@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@700&family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap");

.homepage {
	position: absolute;
	margin-top: 20vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	.welcome-message {
		.wm-1 {
			font-size: 7.5vh;
			line-height: 7.5vh;
			font-weight: 500;

			span {
				color: black;
			}
		}

		.wm-2 {
			font-size: 3vh;
			font-weight: 400;

			p {
			}
		}

		.wm-3 {
			margin-top: 2.5vh;
			font-size: 2vh;
			font-weight: 100;
		}
	}

	.interactive-content {
		margin-top: 30vh;
		.view-or-join {
			button {
				font-size: 1.25vh;
				background-color: none;
			}

			.join,
			.view {
				// vertical center the text
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
				padding: 1vw 2vw;
				height: 8vh;
				background-color: #de0000;
				color: white;
				border: none;
				border-radius: 0.5em;
				cursor: pointer;
			}

			.view {
				font-family: "Poppins", sans-serif;
				font-weight: 200;
				font-size: 1.5vw;
				/* Rectangle 35 */

				background: #72727298;
				border: 0.4vh solid #ffffff;
				backdrop-filter: blur(17px);
				/* Note: backdrop-filter has minimal browser support */
				border-radius: 0.7vh;

				transition: 0.5s;

				&:hover {
					transition-duration: 0.2s;
					transform: scale(1.05);
					background: #727272d3;
				}
			}


			.or {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 1vh;
				margin-bottom: 1vh;

				.line {
					// center the lines vertically
					display: flex;
					justify-content: center;
					align-items: center;

					width: 2vw;
					height: 0.5vh;
					background: #ff0000;
					border-radius: 1vw;

					// move the first line to the left
					&:first-child {
						margin-right: 1vw;
					}

					// move the second line to the right
					&:last-child {
						margin-left: 1vw;
					}
				}

				p {
					font-family: "Courgette", cursive !important;
					color: white;
					font-size: 1.5vw;
				}
			}

			.join {
				// italicize the text with poppins
				font-family: "Poppins", sans-serif;
				font-weight: 600;
				font-style: italic;
				font-size: 1.5vw;

				/* Rectangle 38 */

				box-sizing: border-box;

				background: rgba(255, 39, 39, 0.471);
				border: 0.4vh solid #ff0000;
				box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
				border-radius: 0.5vh;

				// hide overflow
				overflow: hidden;
				position: relative;

				padding: 1vw 6.25vh;
				transition: 0.5s;

				&:before,
				&:after {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					width: 20%;
					background-color: rgba(255, 255, 255, 0.292);
					z-index: 1;
					transform: skewX(-45deg);
				}
				&:before {
					transform: translateX(-500%) skewX(-45deg);
				}

				&:after {
					transform: translateX(-450%) skewX(-45deg);
				}

				&:hover {
					transition-duration: 0.2s;
					transition: 0.2s;
					transform: scale(1.05);
					background: rgba(255, 39, 39, 0.725);
				}

				&:before {
					animation: beforeMove 5s infinite ease-in-out;
				}

				&:after {
					animation: afterMove 5s infinite ease-in-out;
				}

				@keyframes beforeMove {
					0% {
						transform: translateX(-500) skewX(-45deg);
					}
					40% {
						transform: translateX(1000%) skewX(-45deg);
					}
					100% {
						transform: translateX(1000%) skewX(-45deg);
					}
				}

				@keyframes afterMove {
					0% {
						transform: translateX(-450%) skewX(-45deg);
					}
					40% {
						transform: translateX(1050%) skewX(-45deg);
					}
					100% {
						transform: translateX(1050%) skewX(-45deg);
					}
				}
			}
		}
	}
}
