// Import fonts Roboto, Poppins, Montserrat from google fonts

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;600;700;800;900&display=swap");

.header {
	width: 100%;
	height: 100%;
	text-align: center;
	background: #343434;
	letter-spacing: 5px;
	font-family: "Poppins", sans-serif;

	.logo {
		padding: 20px 0;

		h1 {
			color: #ff4343;
			font-family: "Poppins";
			font-style: normal;
			font-weight: 700;
			font-size: 32px;
			line-height: 48px;
			letter-spacing: 0.2em;

			color: #ff4343;
		}

		h2 {
			color: #ffffff;
			font-family: "Poppins";
			font-style: normal;
			font-weight: 200;
			font-size: 30px;
			line-height: 38px;
			letter-spacing: 0.2em;

			color: #ffffff;
		}
	}

	hr {
		border: 1.7px solid white;
	}

	.title {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 200;
		font-size: 32px;
		line-height: 39px;
		color: #ffffff;
		padding: 20px;
		letter-spacing: 0.13em;
	}

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-in-button {
	all: unset;
	background: #505050 !important;
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 1em;
	text-transform: none !important;
	border-radius: 100em !important;

	img {
		margin-right: 1em;
	}
}
