@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@700&family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    z-index: 1;
}

body {
    background-color: #EF0000;
}

.tsparticles {

}

.login {
    background-color: #FF0000;
    // align in the top right corner
    position: absolute;
    top: 0;
    right: 0;
    // center the text
    text-align: center;
    // make the text white
    color: white;
    padding: .7em 1.5em;
    margin-right: 2em;
    margin-top: -0.4em;
    box-shadow: 0px 1px 27px -3px rgba(0, 0, 0, 0.46);
    border-radius: 0 0 0.5em 0.5em;
    cursor: pointer;
    h1 {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 20px;
    }
}

.nav {
    z-index: 1000;
    // align in the center
    z-index: 0;
    display: flex;
    // fade from subtle darker red to #EF0000
    background-image: linear-gradient(to bottom, #B20000, #EF0000);
    padding: 1em 2em;
    justify-content: center;
    ul {
        margin-top: 1.5em;
        display: flex;
        list-style: none;
        li {
            margin: 0 4em;
            button {
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                background: none;
                border: none;
                cursor: pointer;
            }
            background-color: hsla(0, 0%, 11%, 0.255);
            padding: 0.5em 1em;
            border-radius: 0.5em 0.5em 0 0;
        }
    }

    .selector {
        position: absolute;
        width: 8.9em;
        height: 0.4em;
        background-color: hsla(0, 0%, 100%, 0.255);
        margin-top: 4.37em;
        margin-right: -29.6em;
        // border radius on bottom only
        border-radius: 0 0 0.3em 0.3em;
    }
}

.welcome {
    // align in the center
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
    font-family: 'Poppins', sans-serif;
    color: white;

    .name_top {
        font-weight: 500;
        font-size: 60px;

        /* We are the */
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


        span {
            color: black;
            text-shadow: none !important;
        }
    }

    .flex {
        display: flex;
        flex-direction: row;
        margin-top: -1em;
        .name_bottom {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 28px;
            /* We are the */
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .shortcut {
            position: absolute;
            margin-left: 27.5rem;
            margin-top: 0.5rem;
            font-size: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 0px 0px 37px -15px rgba(0, 0, 0, 0.31);
            border-radius: 2px;
            padding: 1em 1em 1em 1em;
        }
    }

    .info {
        margin-top: 1em;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 20px;
        z-index: 1;

    }
}

.content {
    // center the content
    display: flex;
    justify-content: center;


    .join_and_view {
        margin-top: 10em;
        img {
            margin-top:-10000em !important;
            width: 100%;
        }
        background-color: #1B1B1B;
        height: 45vh;

        .buttons {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .join, .view {
                // vertical center the text
                display: flex;
                justify-content: center;
                align-items: center;

                margin: 0 auto;
                padding: 1em 2em;
                height: 3em;
                background-color: #de0000;
                color: white;
                font-size: 22px;
                border: none;
                border-radius: 0.3em;
                cursor: pointer;
            }

            .view {
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
            }

            .join {
                // italicize the text with poppins
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-style: italic;
                 
            }


            .or {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                .line {
                  // center the line vertically in the middle of the text
                  position: absolute;
                  margin-top: 0.14rem;
                  width: 2rem;
                  height: 0.25rem;
                  background: #e00000;
                  border-radius: 5px;
          
                  // move the first line to the left
                  &:first-child {
                    margin-left: -5rem;
                  }
          
                  // move the second line to the right
                  &:last-child {
                    margin-left: 5rem;
                  }
                }
                p {
                  font-family: 'Courgette', cursive !important;
                  color: white;
                  font-size: 30px;
                }
              }
        }
    }



}

// responsive design

// hide the nav bar on mobile
@media only screen and (max-width: 1000px) {
    body {
        overflow: hidden;
    }

    .login {
        h1 {
            font-size: 16px;
        }
    }

    .nav ul, .nav .selector {
        visibility: hidden;
    }

    // change font size of welcome
    .welcome {
        .name_top {
            font-size: 30px;
        }
        .flex {
            .name_bottom {
                margin-top: 0.5em;
                font-size: 17px;
            }
            // hide shortcut on mobile
            .shortcut {
                visibility: hidden;
            }
        }
        .info {
            font-size: 14px;
            // align text in the center
            text-align: center;
            // bold the text
            font-weight: 600;
        }
    }

    // change the join and view buttons on mobile
    .content {
        .join_and_view {
            img {
                margin-top: -20em;
            }
            // make the height 50% of the screen
            height: 60vh;
            .buttons {
                margin-top: 1em;
                .join, .view {
                    font-size: 15px;
                }

                .view {
                    font-weight: 600;
                }

                .or {
                    p {
                        font-size: 20px;
                    }
                    .line {
                        width: 1.5rem;
                        height: 0.2rem;
                        &:first-child {
                            margin-left: -3.5rem;
                        }
                        &:last-child {
                            margin-left: 3.5rem;
                        }
                    }
                }
            }



        }
    }
}


// responsive on larger screens
@media(min-width: 1600px) {
    // change size of the image in the content and the margin-top for the buttons
    .content {
        .join_and_view {
            margin-top: 15em;
            img {
                margin-top: 0em;
            }
            height: 100vh;
            .buttons {
                margin-top: 2em;
            }
        }
    }
}