@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@700&family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  z-index: 1;
}

body {
  background-color: #EF0000;
}

.login {
  background-color: #FF0000;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: white;
  padding: 0.7em 1.5em;
  margin-right: 2em;
  margin-top: -0.4em;
  box-shadow: 0px 1px 27px -3px rgba(0, 0, 0, 0.46);
  border-radius: 0 0 0.5em 0.5em;
  cursor: pointer;
}
.login h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.nav {
  z-index: 1000;
  z-index: 0;
  display: flex;
  background-image: linear-gradient(to bottom, #B20000, #EF0000);
  padding: 1em 2em;
  justify-content: center;
}
.nav ul {
  margin-top: 1.5em;
  display: flex;
  list-style: none;
}
.nav ul li {
  margin: 0 4em;
  background-color: hsla(0deg, 0%, 11%, 0.255);
  padding: 0.5em 1em;
  border-radius: 0.5em 0.5em 0 0;
  transition: all 0.3s ease-in-out;
}
.nav ul li button {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
}
.nav ul li.unselected {
  border-radius: 0.5em !important;
}
.nav .selector {
  position: absolute;
  width: 8.9em;
  height: 0.4em;
  background-color: hsla(0deg, 0%, 100%, 0.255);
  margin-top: 4.37em;
  margin-right: -29.6em;
  border-radius: 0 0 0.3em 0.3em;
}

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;
  font-family: "Poppins", sans-serif;
  color: white;
}
.welcome .name_top {
  font-weight: 500;
  font-size: 60px;
  /* We are the */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.welcome .name_top span {
  color: black;
  text-shadow: none !important;
}
.welcome .flex {
  display: flex;
  flex-direction: row;
  margin-top: -1em;
}
.welcome .flex .name_bottom {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 28px;
  /* We are the */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.welcome .flex .shortcut {
  position: absolute;
  margin-left: 27.5rem;
  margin-top: 0.5rem;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 37px -15px rgba(0, 0, 0, 0.31);
  border-radius: 2px;
  padding: 1em 1em 1em 1em;
}
.welcome .info {
  margin-top: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: center;
}
.content .join_and_view {
  margin-top: 10em;
  background-color: #1B1B1B;
  height: 45vh;
}
.content .join_and_view img {
  margin-top: -10000em !important;
  width: 100%;
}
.content .join_and_view .buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content .join_and_view .buttons .join, .content .join_and_view .buttons .view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  height: 3em;
  background-color: #de0000;
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}
.content .join_and_view .buttons .view {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.content .join_and_view .buttons .join {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.content .join_and_view .buttons .or {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.content .join_and_view .buttons .or .line {
  position: absolute;
  margin-top: 0.14rem;
  width: 2rem;
  height: 0.25rem;
  background: #e00000;
  border-radius: 5px;
}
.content .join_and_view .buttons .or .line:first-child {
  margin-left: -5rem;
}
.content .join_and_view .buttons .or .line:last-child {
  margin-left: 5rem;
}
.content .join_and_view .buttons .or p {
  font-family: "Courgette", cursive !important;
  color: white;
  font-size: 30px;
}

@media only screen and (max-width: 1000px) {
  body {
    overflow: hidden;
  }
  .login h1 {
    font-size: 16px;
  }
  .nav ul, .nav .selector {
    visibility: hidden;
  }
  .welcome .name_top {
    font-size: 30px;
  }
  .welcome .flex .name_bottom {
    margin-top: 0.5em;
    font-size: 17px;
  }
  .welcome .flex .shortcut {
    visibility: hidden;
  }
  .welcome .info {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
  }
  .content .join_and_view {
    height: 60vh;
  }
  .content .join_and_view img {
    margin-top: -20em;
  }
  .content .join_and_view .buttons {
    margin-top: 1em;
  }
  .content .join_and_view .buttons .join, .content .join_and_view .buttons .view {
    font-size: 15px;
  }
  .content .join_and_view .buttons .view {
    font-weight: 600;
  }
  .content .join_and_view .buttons .or p {
    font-size: 20px;
  }
  .content .join_and_view .buttons .or .line {
    width: 1.5rem;
    height: 0.2rem;
  }
  .content .join_and_view .buttons .or .line:first-child {
    margin-left: -3.5rem;
  }
  .content .join_and_view .buttons .or .line:last-child {
    margin-left: 3.5rem;
  }
}
@media (min-width: 1600px) {
  .content .join_and_view {
    margin-top: 15em;
    height: 100vh;
  }
  .content .join_and_view img {
    margin-top: 0em;
  }
  .content .join_and_view .buttons {
    margin-top: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
