@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Quicksand:wght@600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #B50000;
}

.login {
    // absolute positioning in the top right corner
    position: absolute;
    top: 0;
    right: 0;
    // padding
    padding: 1rem;
    // remove underline from links
    a {
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        color: white;

    }
}

.main {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 400;
    // align items in the center
    display: flex;
    justify-content: center;

    .welcome {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* We are the Herndon */
        font-family: 'Poppins';
        font-style: normal;
        h1 {
            font-weight: 200;
            font-size: 70px;
            text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
            strong {
                font-weight: 400;
            }
        }

        .name {
            display: flex;
            font-size: 25px;
            margin-top: -1rem;
            h3 {
                font-weight: 200;
            }

            .shortcut {
                // center the text vertically and horizontally
                position: absolute;
                margin-left: 28.3rem;
                margin-top: 0.5rem;
                font-size: .5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: inset 0px 0px 37px -15px rgba(0, 0, 0, 0.31);
                border-radius: 5px;
                padding: 1em 1em 1em 1em;
            }
        }
        .info {
            margin-top: 2em;
            font-size: 30px;
            font-weight: 400;
        }
        
    }
}


.ocean { 
    height: 30%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #000000;
  }
  
  .wave {
    background: url(/src/images/wave.svg) repeat-x; 

    position: absolute;
    top: -198px;
    width: 6400px;
    height: 200px;
    animation: wave 50s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 53s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }