.login-modal {
	// cover the whole screen
	z-index: 100 !important;
	background-color: #00000077;
    backdrop-filter: blur(5px);
	// cover the whole screen
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// center the content
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	// align content to the center


    .login-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #ffffff3f;
        padding: 3em;
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.3);

        .signin {
            display: flex;
            margin-top: 1em;
            // align items side by side vertically
            display: flex;
            // center the content
        }

    
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        color: #fff;

        h2 {
            font-size: 1.5em;
            font-weight: 400;
            margin-bottom: 0.5em;
        }
    
        h3 {
            margin-right: 0.5em;
            font-weight: 400;
        }
    
        span {
            // add a background color to the text
            background-color: #e01111;
            color: rgb(76, 0, 0);
            padding: 0.3rem;
            border-radius: 0.3rem;
        }
    }

	.exit {
		position: fixed;
		right: 0;
		top: 0;

		margin: 2em;
		cursor: pointer;
		background-color: #00000023;
		height: 3.3em;
		width: 3.3em;
		border-radius: 0.5em;
		border: none;
		transition: 0.2s;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			background-color: #0000005c;
			transition: 0.2s;
		}

		&:active {
			background-color: #00000018;
			margin-top: 2.2em;
			transition: 0.2s;
		}

		img {
			width: 1em;
			height: 1em;
			margin-left: -1px;
		}
	}
}