@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@700&family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  z-index: 1;
}

body {
  background-color: #a70000;
}

.tsparticles {
  z-index: 0 !important;
}
.tsparticles canvas {
  z-index: 1;
}

.container {
  position: absolute;
}

.login {
  background-color: #b90000;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: white;
  padding: 0.7em 1.5em;
  margin-right: 2em;
  margin-top: -4em;
  box-shadow: 0px 1px 27px -3px rgba(0, 0, 0, 0.46);
  border-radius: 0 0 0.5em 0.5em;
  z-index: 3;
  cursor: pointer;
  transition: 0.2s;
}
.login h1 {
  margin-top: 3em;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.login:hover {
  background-color: #a70000;
  transition: 0.2s;
  margin-top: -3.7em;
}
.login:active {
  background-color: #a70000;
  margin-top: -3.3em;
  transition: 0.2s;
}

.nav {
  z-index: 1000;
  z-index: 0;
  display: flex;
  background-image: linear-gradient(to bottom, #780000, #a70000);
  padding: 1em 2em;
  justify-content: center;
}
.nav ul {
  margin-top: 1.5em;
  display: flex;
  list-style: none;
}
.nav ul li {
  margin: 0 4em;
  background-color: hsla(0deg, 0%, 11%, 0.255);
  padding: 0.5em 1em;
  border-radius: 0.5em 0.5em 0 0;
  transition: all 0.3s ease-in-out;
}
.nav ul li button {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
}
.nav ul li.unselected {
  border-radius: 0.5em !important;
}
.nav .selector {
  position: absolute;
  width: 8.9em;
  height: 0.4em;
  background-color: hsla(0deg, 0%, 100%, 0.441);
  margin-top: 4.37em;
  margin-right: -29.6em;
  border-radius: 0 0 0.1em 0.1em;
}

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;
  font-family: "Poppins", sans-serif;
  color: white;
}
.welcome .name_top {
  font-weight: 500;
  font-size: 60px;
  /* We are the */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.welcome .name_top span {
  color: black;
  text-shadow: none !important;
}
.welcome .flex {
  display: flex;
  flex-direction: row;
  margin-top: -1em;
}
.welcome .flex .name_bottom {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 28px;
  /* We are the */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.welcome .flex .shortcut {
  position: absolute;
  margin-left: 27.5rem;
  margin-top: 0.5rem;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 37px -15px rgba(0, 0, 0, 0.31);
  border-radius: 2px;
  padding: 1em 1em 1em 1em;
}
.welcome .info {
  margin-top: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: center;
}
.content .join_and_view {
  margin-top: 10em;
  background-color: #1b1b1b;
  height: 45vh;
}
.content .join_and_view img {
  margin-top: -10000em !important;
  width: 100%;
}
.content .join_and_view .buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content .join_and_view .buttons .join,
.content .join_and_view .buttons .view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  height: 3em;
  background-color: #de0000;
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}
.content .join_and_view .buttons .view {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 20px;
  /* Rectangle 35 */
  background: #727272;
  border: 2px solid #ffffff;
  backdrop-filter: blur(17px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
}
.content .join_and_view .buttons .join {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  /* Rectangle 38 */
  box-sizing: border-box;
  background: rgba(255, 39, 39, 0.471);
  border: 3px solid #ff0000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  transition-duration: 0.2s;
  transition: 0.2s;
}
.content .join_and_view .buttons .join:before, .content .join_and_view .buttons .join:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.292);
  z-index: 1;
  transform: skewX(-45deg);
}
.content .join_and_view .buttons .join:before {
  transform: translateX(-500%) skewX(-45deg);
}
.content .join_and_view .buttons .join:after {
  transform: translateX(-450%) skewX(-45deg);
}
.content .join_and_view .buttons .join:hover {
  transition-duration: 0.2s;
  transition: 0.2s;
  transform: scale(1.05);
  background: rgba(255, 39, 39, 0.725);
}
.content .join_and_view .buttons .join:before {
  animation: beforeMove 5s infinite ease-in-out;
}
.content .join_and_view .buttons .join:after {
  animation: afterMove 5s infinite ease-in-out;
}
@keyframes beforeMove {
  0% {
    transform: translateX(-500) skewX(-45deg);
  }
  40% {
    transform: translateX(1000%) skewX(-45deg);
  }
  100% {
    transform: translateX(1000%) skewX(-45deg);
  }
}
@keyframes afterMove {
  0% {
    transform: translateX(-450%) skewX(-45deg);
  }
  40% {
    transform: translateX(1050%) skewX(-45deg);
  }
  100% {
    transform: translateX(1050%) skewX(-45deg);
  }
}
.content .join_and_view .buttons .or {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.content .join_and_view .buttons .or .line {
  position: absolute;
  margin-top: 0.14rem;
  width: 2rem;
  height: 0.25rem;
  background: #e00000;
  border-radius: 5px;
}
.content .join_and_view .buttons .or .line:first-child {
  margin-left: -5rem;
}
.content .join_and_view .buttons .or .line:last-child {
  margin-left: 5rem;
}
.content .join_and_view .buttons .or p {
  font-family: "Courgette", cursive !important;
  color: white;
  font-size: 30px;
}

@media only screen and (max-width: 1000px) {
  body {
    overflow: hidden;
  }
  .login h1 {
    font-size: 16px;
  }
  .nav ul,
.nav .selector {
    visibility: hidden;
  }
  .welcome .name_top {
    font-size: 30px;
  }
  .welcome .flex .name_bottom {
    margin-top: 0.5em;
    font-size: 17px;
  }
  .welcome .flex .shortcut {
    visibility: hidden;
  }
  .welcome .info {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
  }
  .content .join_and_view {
    height: 60vh;
  }
  .content .join_and_view img {
    margin-top: -20em;
  }
  .content .join_and_view .buttons {
    margin-top: 1em;
  }
  .content .join_and_view .buttons .join,
.content .join_and_view .buttons .view {
    font-size: 15px;
  }
  .content .join_and_view .buttons .view {
    font-weight: 600;
  }
  .content .join_and_view .buttons .or p {
    font-size: 20px;
  }
  .content .join_and_view .buttons .or .line {
    width: 1.5rem;
    height: 0.2rem;
  }
  .content .join_and_view .buttons .or .line:first-child {
    margin-left: -3.5rem;
  }
  .content .join_and_view .buttons .or .line:last-child {
    margin-left: 3.5rem;
  }
}
@media (min-width: 1600px) {
  .content .join_and_view {
    margin-top: 15em;
    height: 100vh;
  }
  .content .join_and_view img {
    margin-top: 0em;
  }
  .content .join_and_view .buttons {
    margin-top: 2em;
  }
}
.user-card {
  border: none;
  box-shadow: inset 0 0 10px black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 5%;
  background-image: url("/src/assets/images/waves.png");
  background-size: cover;
  background-color: red;
}
.user-card .card-content {
  padding: 10px;
}
.user-card .card-content > * {
  margin: 15px;
}
.user-card .card-content .user-name .username-L {
  color: gray;
}
.user-card .card-content .connections .connection {
  display: flex;
}
.user-card .card-content .connections .connection .connection-id {
  margin-left: 10px;
}
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  transition: 0.2s;
  transform: translateY(-0.5em);
  cursor: pointer;
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
  transition: 0.2s;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 12.5px;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
}
.google-btn:hover {
  background-color: #356abf;
  transition: 0.2s;
}
.google-btn:hover .google-icon-wrapper {
  background-color: #cfd8dc;
  transition: 0.2s;
}
.google-btn:active {
  background-color: #2f5bb7;
}
.google-btn:active .google-icon-wrapper {
  background-color: #cfd8dc;
}

/*# sourceMappingURL=style.css.map */
