li {
	list-style: none;
}

a {
	text-decoration: none;
}

.navbar-container {
	z-index: 9999;
	/* DIMENSIONS */

	width: 100vw;
	height: 10vh;

	/* POSITION */
	position: fixed;
	top: 0;
	left: 0;

	background-image: linear-gradient(rgba(0, 0, 0, 0.5), #a7242400);

	/* DISPLAY PROPERTIES */
	display: flex;
	overflow: visible;
	align-items: center;
	justify-content: space-between;

	.burger-container {
		display: none;
		width: 50px;
		height: 50px;
		align-items: center;
		justify-content: center;
		margin-left: 2vh;
		position: absolute;
	}

	.burger {
		margin-top: 1.5em;
		position: absolute;
		z-index: 9999;
		width: 50px;
		height: 6px;
		background: rgb(223, 223, 223);
		border-radius: 5px;
		transition: all 0.25s ease-in-out;
		cursor: pointer;

		&.open {
			background: transparent;
			box-shadow: none;

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}

		&::before,
		&::after {
			z-index: 9999;
			content: "";
			position: absolute;
			width: 50px;
			height: 6px;
			background: rgb(223, 223, 223);
			border-radius: 5px;
			transition: all 0.25s ease-in-out;
		}

		&::before {
			z-index: 9999;
			transform: translateY(-16px);
		}

		&::after {
			z-index: 9999;
			transform: translateY(16px);
		}
	}

	.mobile-navbar {
		display: none;
	}

	/* LOGO CONTAINER AND THE IMAGE */
	.nav-logo,
	.nav-logo img {
		margin-left: 2vh;
		margin-top: 1vh;
		margin-right: auto;
		aspect-ratio: 1/1;
		width: 7.5vh;

		// Center the image inside the div
		display: flex;
		align-items: center;
		justify-content: center;

		// Apply only to the image
		img {
			border-radius: 10%;
			box-shadow: 0 0 0 0.1vw white;
		}
	}

	/* NAV LINKS */
	.nav-links {
		flex: 1;

		display: flex;
		align-items: center;
		justify-content: space-evenly;

		* {
			// Center the text vertically
			display: flex;
			align-items: center;
		}

		ul {
			li {
				cursor: pointer;
				margin: 0 5vw;
				img {
					margin-right: 0.5vw;
					aspect-ratio: 1/1;
					width: 3vh;
					height: 3vh;
					&[alt="home icon"] {
						width: 2.5vh;
						height: 2.5vh;
					}
				}

				a {
					color: white;
					font-size: 2.5vh;
					font-weight: 500;
					transition: 0.5s ease;

					&:hover {
						color: rgb(150, 0, 0);
					}
				}

				P {
					font-size: 1.5vw;
					font-family: "Montserrat", sans-serif;
				}
			}
		}
	}

	.profile-and-dropdown,
	.sign-in-button {
		margin-left: auto;
		float: right;
	}

	.profile {
		z-index: 9999;
		box-shadow: 0px 0px 20px 0.2px rgba(0, 0, 0, 0.305);
		background: rgb(160, 0, 0);
		transition: 0.5s ease;

		&:hover {
			background: rgb(150, 0, 0);
		}

		//change border radius to be only on top left and right
		border-radius: 0.25vw 0.25vw 0 0;
		cursor: pointer;
		width: fit-content;
		min-width: 11vw;
		margin-right: 1vh;

		height: 6vh;

		padding: 0.9vh !important;

		// display all direct children horizontally and center them vertically
		display: flex;
		justify-content: space-around;
		align-items: center;

		user-select: none;

		img {
			&[alt="profile"] {
				aspect-ratio: 1/1;
				width: 4vh;
				margin-left: 0.5vh;

				border-radius: 50%;
				background: #252525;
				margin-right: 1vh;
			}

			&[alt="arrow icon"] {
				aspect-ratio: 1/1;
				width: 2vh;
				height: 3vh;
				margin-left: 1vh;
				margin-right: 2vh;

				// colors the image white
				filter: invert(98%) sepia(100%) saturate(9%) hue-rotate(154deg)
					brightness(103%) contrast(103%);
			}
		}

		p {
			font-size: 2vh;
		}
	}

	.userMenu {
		background: rgb(154, 0, 0);
		// add border radius only to bottom left and right
		border-radius: 0 0 0.25vw 0.25vw;

		margin-right: 1.7vh;
		overflow: hidden;
		position: absolute;
		top: 8vh;
		overflow: hidden;
		float: right;

		align-items: center;
		justify-content: center;

		width: auto;

		.userMenuList {
			display: flex;
			flex-direction: column;

			hr {
				width: 90%;
				border: 0.5px solid rgb(125, 0, 0);

				// center the hr
				margin: 0 auto;
			}

			.userMenuListItem {
				height: 4vh;
				padding: 0.5vw;

				// align text vertically
				display: flex;
				align-items: center;
				transition: 0.2s;

				// on hover
				&:hover {
					background: #700000;
				}

				margin: 0.5vh;
				cursor: pointer;
				list-style: none !important;
				font-size: 2vh;

				// selects only the sign out button
				&[id="sign out"] {
					// center the text
					justify-content: center;
				}
			}
		}
	}

	.sign-in-button {
		right: 0;
		// Lock aspect ratio
		margin-right: 2vh;
		$width: fit-content !important;
		$height: 5vh;
		min-width: $width;
		width: $width;
		max-width: $width;
		min-height: $height;
		height: $height;
		max-height: $height;

		ul {
			li {
				list-style: none;
			}
		}

		button {
			// Lock aspect ratio
			$width: 15vh !important;
			$height: 5vh;
			min-width: $width;
			width: $width;
			max-width: $width;
			min-height: $height;
			height: $height;
			max-height: $height;

			white-space: no-wrap;
			text-align: center;

			border: none;
			border-radius: 0.25vh;

			box-shadow: 0px 0px 20px 0.2px rgba(0, 0, 0, 0.305);

			background: rgb(175, 0, 0);

			padding: 1vw;
			font-size: 2vh;

			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
	}
}

.side-navbar {
	display: none;
	position: absolute;
	z-index: 90;
	height: 500vh;
	width: 60vw;
	background: rgb(28, 28, 28);

	display: flex;
	justify-content: center;
	align-items: center;

	ul {
		margin-top: 50em;
		li {
			display: flex;
			// align items vertically
			align-items: center;
			margin: 10vh 0;
			cursor: pointer;

			img {
				margin: 0 1vw;
				width: 5vw;
				height: 5vh;
			}

			p {
				font-size: 3.5vh;
				// margin top and bottom to center the text
				margin: 2vh 0;
			}
		}
	}
}

@media only screen and (max-width: 1000px) {
	.nav-logo,
	.nav-links {
		display: none !important;
	}

	.burger-container {
		display: block !important;
		position: relative;
	}

	.side-navbar {
		display: flex !important;
	}
}

// .nav-bar {

// 	background-image: linear-gradient(rgba(0, 0, 0, 0.5), #b01515);

// 	// NAV LINKS
// 	.nav-links {
// 		width: 100vw;
// 		height: 100%;

// 		// center the direct children of nav-links horizontally
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;

// 		ul {
// 			display: flex;

// 			li {
// 				display: flex;
// 				margin: 0 5vw;
// 				transition: 0.5s ease;

// 				// center all children vertically
// 				align-items: center;

// 				cursor: pointer;

// 				img {
// 					$width: 2.5vw;
// 					$height: 4.5vh;
// 					min-width: $width;
// 					width: $width;
// 					max-width: $width;
// 					min-height: $height;
// 					height: $height;
// 					max-height: $height;

// 					padding: 0.5vw;
// 					border-radius: 10%;
// 					margin: 0.25vw !important;
// 				}

// 				p {
// 					font-size: 1.5vw;
// 					margin-left: 0.5vw;
// 				}
// 			}
// 		}
// 	}

// 	// LOGIN BUTTON
// 	.sign-in-button {
// 		right: 0;
// 		// Lock aspect ratio
// 		margin-right: 2vh;
// 		$width: fit-content !important;
// 		$height: 5vh;
// 		min-width: $width;
// 		width: $width;
// 		max-width: $width;
// 		min-height: $height;
// 		height: $height;
// 		max-height: $height;

// 		ul {
// 			li {
// 				list-style: none;
// 			}
// 		}

// 		button {
// 			// Lock aspect ratio
// 			$width: 15vh !important;
// 			$height: 5vh;
// 			min-width: $width;
// 			width: $width;
// 			max-width: $width;
// 			min-height: $height;
// 			height: $height;
// 			max-height: $height;

// 			white-space: no-wrap;
// 			text-align: center;

// 			border: none;
// 			border-radius: 0.25vh;

// 			box-shadow: 0px 0px 20px 0.2px rgba(0, 0, 0, 0.305);

// 			background: rgb(175, 0, 0);

// 			padding: 1vw;
// 			font-size: 2vh;

// 			display: flex;
// 			align-items: center;
// 			justify-content: center;
// 			cursor: pointer;
// 		}
// 	}

// 	/* PROFILE COMPONENT STYLING */
// 	.profile {
// 		box-shadow: 0px 0px 20px 0.2px rgba(0, 0, 0, 0.305);
// 		background: rgb(160, 0, 0);
// 		transition: 0.5s ease;

// 		&:hover {
// 			background: rgb(150, 0, 0);
// 		}

// 		border-radius: 0.25vw;
// 		cursor: pointer;
// 		width: fit-content;
// 		min-width: 11vw;
// 		margin-right: 1.7vh;

// 		height: 6vh;

// 		padding: 0.9vh !important;

// 		// display all direct children horizontally and center them vertically
// 		display: flex;
// 		justify-content: space-around;
// 		align-items: center;

// 		user-select: none;

// 		img {
// 			&[alt="profile"] {
// 				$width: 4vh;
// 				$height: 4vh;
// 				min-width: $width;
// 				width: $width;
// 				max-width: $width;
// 				min-height: $height;
// 				height: $height;
// 				max-height: $height;

// 				border-radius: 50%;
// 				background: #252525;
// 				margin-right: 0.5vw;
// 			}

// 			&[alt="arrow icon"] {
// 				$width: 4vw;
// 				$height: 2vh;
// 				min-width: $width;
// 				width: $width;
// 				max-width: $width;
// 				min-height: $height;
// 				height: $height;
// 				max-height: $height;

// 				// colors the image white
// 				filter: invert(98%) sepia(100%) saturate(9%) hue-rotate(154deg)
// 					brightness(103%) contrast(103%);
// 			}
// 		}

// 		p {
// 			font-size: 2vh;
// 		}
// 	}

// 	/* LOGGED IN COMPONENT STYLING */

// 	.userMenu {
// 		background: rgb(154, 0, 0);
// 		// add border radius only to bottom left and right
// 		border-radius: 0 0 0.25vw 0.25vw;

// 		right: 1vw;
// 		overflow: hidden;
// 		position: absolute;
// 		top: 8vh;
// 		overflow: hidden;
// 		float: right;

// 		align-items: center;
// 		justify-content: center;

// 		width: auto;

// 		.userMenuList {
// 			display: flex;
// 			flex-direction: column;

// 			hr {
// 				width: 90%;
// 				border: 0.5px solid rgb(125, 0, 0);

// 				// center the hr
// 				margin: 0 auto;
// 			}

// 			.userMenuListItem {
// 				height: 4vh;
// 				padding: 0.5vw;

// 				// align text vertically
// 				display: flex;
// 				align-items: center;
// 				transition: 0.2s;

// 				// on hover
// 				&:hover {
// 					background: #700000;
// 				}

// 				margin: 0.5vh;
// 				cursor: pointer;
// 				list-style: none !important;
// 				font-size: 2vh;

// 				// selects only the sign out button
// 				&[id="sign out"] {
// 					// center the text
// 					justify-content: center;
// 				}
// 			}
// 		}
// 	}

// 	.burger-container {
// 		cursor: pointer;
// 		display: none;
// 		margin-left: 1em;
// 	}
// }

// /* RESPONSIVE STYLING [MOBILE] */
// .burger-container {
// 	z-index: 9999;
// 	position: absolute;
// 	left: 0;
// 	display: none;
// 	justify-content: center;
// 	align-items: center;
// 	height: fit-content;
// 	width: fit-content;
// 	transition: all 0.25s ease-in-out;
// }

// .burger {
// 	z-index: 9999;
// 	width: 50px;
// 	height: 6px;
// 	background: rgb(223, 223, 223);
// 	border-radius: 5px;
// 	transition: all 0.25s ease-in-out;
// 	cursor: pointer;

// 	&.open {
// 		background: transparent;
// 		box-shadow: none;

// 		&::before {
// 			transform: rotate(45deg);
// 		}

// 		&::after {
// 			transform: rotate(-45deg);
// 		}
// 	}

// 	&::before,
// 	&::after {
// 		z-index: 9999;
// 		content: "";
// 		position: absolute;
// 		width: 50px;
// 		height: 6px;
// 		background: rgb(223, 223, 223);
// 		border-radius: 5px;
// 		transition: all 0.25s ease-in-out;
// 	}

// 	&::before {
// 		z-index: 9999;
// 		transform: translateY(-16px);
// 	}

// 	&::after {
// 		z-index: 9999;
// 		transform: translateY(16px);
// 	}
// }

// .mobile-navbar {
// 	z-index: 10;
// 	position: absolute;
// 	height: 100vh;
// 	width: 60vw;
// 	background: rgb(28, 28, 28);

// 	display: flex;
// 	justify-content: center;
// 	align-items: center;

// 	ul {
// 		li {
// 			display: flex;
// 			// align items vertically
// 			align-items: center;
// 			margin: 10vh 0;
// 			cursor: pointer;

// 			img {
// 				margin: 0 1vw;
// 				width: 5vw;
// 				height: 5vh;
// 			}

// 			p {
// 				font-size: 3.5vh;
// 				// margin top and bottom to center the text
// 				margin: 2vh 0;
// 			}
// 		}
// 	}
// }

// @media only screen and (max-width: 1000px) {
// 	.desktop-navbar {
// 		display: none;
// 	}

// 	// display the burger
// 	.burger-container {
// 		display: block !important;
// 		margin-left: 1em;
// 		margin-top: 2em;
// 	}
// }
